<template>
  <div>
      <h3><center>恭喜發財, 新年快樂, 身體健康!</center></h3>
  </div>
</template>
<script>
    
</script>

<style scoped>
  h3 {
    font-sze: 40;
    color: red;
    padding: 0 1em;
  }
</style>
